<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="robots" content="noindex">
	<title>Login</title>
	<link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <div class="overflow-x-hidden bg-gradient-to-b from-[#E8E3F5] via-[#EDEAFB] to-[#FFFFFF] h-screen">
		<div class="min-h-screen flex items-center justify-center">
			<div class="max-w-md w-full p-6 bg-white rounded-lg shadow-lg">
			  <h1 class="text-2xl font-semibold text-center text-gray-500 mt-8 mb-6">Login</h1>
			  <form method="post" action="/login">
				<input type="hidden" name="_csrf" value="<%= csrfToken%>">
				<div class="mb-6">
				  <label for="username" class="block mb-2 text-sm text-gray-600">Usuário</label>
				  <input type="text" id="username" name="username" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500" required>
				</div>
				<div class="mb-6">
				  <label for="password" class="block mb-2 text-sm text-gray-600">Senha</label>
				  <input type="password" id="password" name="password" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-500" required>
				</div>
				<button type="submit" class="w-32 bg-gradient-to-r from-cyan-400 to-cyan-600 text-white py-2 rounded-lg mx-auto block focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500 mt-4 mb-6">Entrar</button>
			  </form>
			</div>
		  </div>
	</div>
</body>
</html>